@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-weight: 300;
  background-color: black;

}
.ipsType_right {
  text-align: right;
}
.ipsType_center {
  text-align: center;
}
.cInnerContent {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.ipsSpacer_bottom_double {
  margin-bottom: 30px;
}
.ipsGrid {
  display: inline-block;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.ipsGrid::before, .ipsGrid::after {
  display: table;
  content: "";
  line-height: 0;
}
.ipsGrid > [class*="ipsGrid_span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}
.ipsGrid > .ipsGrid_span5 {
  width: 40.42553191489362%;
}
.ipsGrid > .ipsGrid_span7 {
  width: 57.44680851063829%;
}
.ipsGrid > [class*="ipsGrid_span"] {
  float: left;
  margin-left: 2%;
}
.ipsGrid > [class*="ipsGrid_span"]:first-child {
  margin-left: 0;
}
.feature {
  display: flex;
  align-items: center;
}
.card {
  margin-bottom: 30px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  overflow: hidden;
  
  
  box-shadow: 1px 1px 5px 1px burlywood;
/*   transition: 0.3s; */
}
.featured-image-container .card {
  padding: 10px;
  height: 0;
  padding-bottom: calc(100% - 10px);
}
h2.heading_large {
  font-size: 1.8em;
}
img {
  max-width: 100%;
}

.header-section {
  margin: 80px auto;
}

/* .gs_reveal {
  opacity: 2;
   visibility: hidden; 
  will-change: transform, opacity;
} */

/* initial image */
#pica{
  width: 50%;
}

.scramble{
  display: inline-block;
  /* margin: 20%;*/
} 

.text{
  overflow: hidden;
  border-right: 0.15em solid orange;
  
  animation: typing 2s steps(40, end) ;
}

@keyframes typing{
  from{
    width: 0;
  }

  to{
    width: 100%;
  }
}

.svj{
  width: 10%;
  padding: 10px;
  margin: auto;
  
}

